- title 'Listing people'

%table#people
  %thead
    %tr
      %th Last 
      %th First
      %th Middle
      %th Gender
      %th Birth
      %th Death
      %th Hebrew
      %th Yahrzeit
      %th 
  %tbody
  
%br
= link_to 'New Person', new_person_path

  