// variables and macros

$accent_color: #7CBFB7;
$blue_color: #00AEEF;

// utility styles

table {
  width: 100%;
  th, td { text-align: left };
}


// general site layout
body {
  background-color: #F1F1F1;
  //font-family: 'Verdana, Helvetica, Arial';
  font-family: 'Arial';
  font-size: 14px;
}

#page {
  width: 940px;
  margin: 20px auto;
  background: white;
  padding: 20px;
}

#header, #footer, #content {
}

#header {
  height: 131px;
  background: image-url("bg_header.png") bottom center no-repeat;
  padding: 0;
  position: relative;
  #masthead {
    .logo {
      float: left;
      a {
        width: 372px;
        height: 131px;
        display: block;
        margin-left: 20px;
        background: image-url("bhc_logo.png") no-repeat;
        text-indent: -3333px;
        border: none;
        text-decoration: none;
        position: absolute;
      }
    }
    h1 {
      font-size: 300%;
      margin: 0;
      padding: 50px 0 0 500px;
    }
  }
  #navbar {
    $navbar_height: 38px;
    @include inline-block-list(10px);
    float: left;
    display: block;
    margin: 18px 0 0 0;
    width: 940px;
    height: $navbar_height;
    background: $accent_color;
    ul { 
      margin: 0; 
      text-align: center;
    }
    a {
      display: block;
      line-height: $navbar_height;
      margin-right: 10px;
      color: black;
      font-weight: bold;
      text-decoration: none;
      &:hover { color: white; }
    }
  }
}

#content {
  padding: 20px 0;
}

#footer {
  border-top: 4px solid $accent_color;
  padding: 18px 0;
}

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 30px 0 10px;
}

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}



.show_data {
  $label_width: 150px;
  p {
    @include clearfix;
  }
  span {
    float: left;
    width: $label_width;
    text-align: right;
    margin: 2px 10px;
    font-weight: bold;
  }
}
// page specific
